.DS_Store
.Rhistory
.Rdata
.Rapp.history
.Rproj.user
.dropbox
inst/marketing/ideas.md
inst/marketing/.Rhistory
inst/marketing/.Rapp.history
inst/marketing/.Rproj.user
inst/marketing/radyant_win.bat
inst/marketing/update_win.bat
inst/marketing/www/MGT475_data/
stuff/
